header
  // background-image: url('../images/vaporm.png')
  // background-size: auto 100%
  // background-repeat: repeat-x
  // background-position: bottom
  height: 80vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  // animation: bgAnim 2400s linear infinite
  justify-content: space-around
  //background: linear-gradient(90deg, #1d81ce, #028246, #27b845, #fda241, #f1614d)
  background: linear-gradient(270deg, #4bf05a, #0050ff, #93008c, #ff4e77, #ff6f2f, #ff204d)
  background-size: 1200% 1200%
  animation: background 20s ease infinite

  .info
    background-color: rgba(255,255,255,0.5)
    border-radius: 5px
    overflow: hidden
    width: 200px

    figure
      margin: 0

    h1
      margin: 0
      opacity: 1.0

    p
      margin: 0

main
  background-color: rgb(33, 41, 150)

  article
    background-color: rgba(235, 241, 255, 0.75)
    color: #333
    border-radius: 4px
    position: relative
    // margin: 10px
    margin-bottom: 20px
    border: 1px solid #333

    div
      padding: 1em


    header
      background-color: red
      background-repeat: no-repeat
      background-size: cover
      background-position: center
      border-radius: 4px 4px 0 0
      height: 50px


    h3
      font-family: 'Noto serif', serif
      font-weight: 700
      margin-top: 0


    p
      font-family: 'Noto serif', serif


@keyframes bgAnim
  // from
  //   transform: translateX(  0%)
  // to
  //   transform: translateX( 100%)

  0%
    background-position: 0vw 0

  // 50%
  //   background-position: 100vw

  100%
    background-position: 9000vw 0

@keyframes background

  0%
    background-position: 0 50%

  50%
    background-position: 100% 50%

  100%
    background-position: 0 50%
